


  <nav id="nav" class="nav-primary hidden-xs nav-vertical">
    <ul class="nav" data-spy="affix" data-offset-top="50">
      <li><a href="index.html"><i class="fa fa-dashboard fa-lg"></i><span>Dashboard</span></a></li>
      <li class="active"><a href="timeline.html"><i class="fa fa-time fa-lg"></i> <span>Timeline</span></a></li>
      <li class="dropdown-submenu">
        <a href="#"><i class="fa fa-th fa-lg"></i><span>Elements</span></a>
        <ul class="dropdown-menu">
          <li><a href="buttons.html">Buttons</a></li>
          <li><a href="icons.html"><b class="badge pull-right">302</b>Icons</a></li>
          <li><a href="grid.html">Grid</a></li>
          <li><a href="widgets.html"><b class="badge bg-primary pull-right">8</b>Widgets</a></li>
          <li><a href="components.html"><b class="badge pull-right">18</b>Components</a></li>
          <li><a href="portlet.html">Portlet</a></li>
        </ul>
      </li>
      <li class="dropdown-submenu">
        <a href="#"><i class="fa fa-list fa-lg"></i><span>Lists</span></a>
        <ul class="dropdown-menu">
          <li><a href="list.html">List groups</a></li>
          <li><a href="table.html">Table</a></li>
        </ul>
      </li>
      <li><a href="form.html"><i class="fa fa-edit fa-lg"></i><span>Form</span></a></li>
      <li><a href="chart.html"><i class="fa fa-signal fa-lg"></i><span>Chart</span></a></li>
      <li class="dropdown-submenu">
        <a href="#"><i class="fa fa-link fa-lg"></i><span>Others</span></a>
        <ul class="dropdown-menu">
          <li><a href="mail.html">Mail</a></li>
          <li><a href="calendar.html">Fullcalendar</a></li>
          <li><a href="timeline.html">Timeline</a></li>
          <li><a href="profile.html">Profile</a></li>
          <li><a href="gallery.html">Gallery</a></li>
          <li><a href="maps.html">Maps</a></li>
          <li><a href="invoice.html">Invoice</a></li>
          <li><a href="signin.html">Signin page</a></li>
          <li><a href="signup.html">Signup page</a></li>
          <li><a href="404.html">404 page</a></li>
        </ul>
      </li>
    </ul>
  </nav>
  <!-- / nav -->
  <section id="content" class="content-sidebar">
    <!-- .main -->
    <section class="main">
      <div class="padder m-t m-b" >
        <div class="timeline">
          <article class="timeline-item active">
              <div class="timeline-caption">
                <div class="panel bg bg-primary">


                  <span class="timeline-date"> </span>
                  <span class="h3 pull-left m-r-small">2015</span>
                  <h5>
                    <span> <i>Rétroviseur ? </i></span>

                  </h5>
                  <div class="m-t-small timeline-action">

                    <button class="btn btn-sm btn-white"><i class="fa fa-pause"></i> Pause </button>

                  </div>
                </div>
              </div>
          </article>
          <article class="timeline-item">
              <div class="timeline-caption">
                <div class="panel arrow arrow-left">
                  <span class="timeline-icon"><i class="fa fa-mobile-phone time-icon bg-primary"></i></span>
                  <span class="timeline-date">Qualité</span>
                  <h5>
                    <span>Belles réalisations</span>
                    <h6>Boulanger Oglo, Paul, Corian,  </h6>
                    <h6>Voeux, Essentiel B</h6>


                  </h5>
                </div>
              </div>
          </article>
          <article class="timeline-item alt">
              <div class="timeline-caption">
                <div class="panel arrow arrow-right">
                  <span class="timeline-icon"><i class="fa fa-male time-icon bg-success"></i></span>
                  <span class="timeline-date">Quantité</span>
                  <h5>
                    <span>Nombre de vidéo</span>
                    626 !
                  </h5>
                  <p>soit 3 par jours ! </p>
                </div>
              </div>
          </article>
          <article class="timeline-item">
              <div class="timeline-caption">
                <div class="panel arrow arrow-left">
                  <span class="timeline-icon"><i class="fa fa-plane time-icon"></i></span>
                  <span class="timeline-date">Satisfaction client</span>
                  <h5>
                    <span>Feed Back clients</span>
                  </h5>
                    <h6>Emails de gratitudes</h6>
                    <h6>Paroles Valorisantes</h6>
                </div>
              </div>
          </article>

          <article class="timeline-item alt">
              <div class="timeline-caption">
                <div class="panel arrow arrow-right">
                  <span class="timeline-icon"><i class="fa fa-file-text time-icon bg-info"></i></span>
                  <span class="timeline-date">Les chiffres</span>
                  <h5>
                    <span>Moins de CA mais rentable</span>

                        <div class="col-lg-12">
          <section class="panel">

            <div>
              <table class="table table-striped m-b-none text-small">
                <thead>
                  <tr>
                    <th>Année</th>
                    <th>CA</th>
                    <th>Résultat</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td> 2013 </td>
                    <td>960 Ke</td>
                    <td>53 Ke</td>
                    </td>
                  </tr>
                  <tr>
                     <td> 2014 </td>
                    <td>914 Ke</td>
                    <td>-70 Ke</td>
                  </tr>
                  <tr>
                    <td>2015</td>
                    <td>840 Ke</td>
                    <td>11 Ke</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </section>
        </div>


                </div>
              </div>
          </article>
          <article class="timeline-item">
              <div class="timeline-caption">
                <div class="panel arrow arrow-left">
                  <span class="timeline-icon"><i class="fa fa-code time-icon"></i></span>
                  <span class="timeline-date"> Une Terre Fertile </span>
                  <h5>
                    <span>Chance ! </span>
                    <h6> Une histoire <h6>
                    <h6> Un Savoir-faire reconnu</h6>
                    <h6> Une équipe compétente & Autonôme </h6>
                    <h6> Des clients a fidéliser </h6>
                    <h6> De l'équipement</h6>
                    <h6> <b>Une Agilité !</b> </h6>
                  </h5>

                </div>
              </div>
          </article>

                <article class="timeline-item alt">
              <div class="timeline-caption">
                <div class="panel arrow arrow-right">
                  <span class="timeline-icon"><i class="fa fa-plane time-icon"></i></span>
                  <span class="timeline-date"> Décision pour le futur </span>
                  <h5>
                    <span> VEV autour d'un</span>
                    <h6> Directeur d'Agence <h6>
                    <h1>Rosalie</h1>
                  </h5>

                </div>
              </div>
          </article>


              <article class="timeline-item">
              <div class="timeline-caption">
                <div class="panel arrow arrow-left">
                  <span class="timeline-icon"><i class="fa fa-plane time-icon"></i></span>
                  <span class="timeline-date"> Conctrêtement</span>
                  <h5>
                    <span>Au quotidien</span>
                  </h5>
                    <h6>Rosalie, Dirige les Opérations</h6>
                    <h6>Nicolas, Strategie & Back-office</h6>
                </div>
              </div>
          </article>

          <article class="timeline-item alt">
              <div class="timeline-caption">
                <div class="panel arrow arrow-right">
                  <span class="timeline-icon"><i class="fa fa-male time-icon bg-success"></i></span>
                  <span class="timeline-date"> Quel modèle ?  </span>
                  <h5>
                    <span>A vous de prendre une décision </span>
                  </h5>
                  <p> VEV, 100%  Libéré & Agile Sans manager de production     </p>
                  <p><b>Ou</b></p>
                  <p> Même Organisation et embauche d'un directeur de production </p>
                </div>
              </div>
          </article>


          <article class="timeline-item">
              <div class="timeline-caption">
                <div class="panel arrow arrow-left">
                  <span class="timeline-icon"><i class="fa fa-plane time-icon"></i></span>
                  <span class="timeline-date"> 100% libéré & Agile</span>
                  <h5>
                    <span>100% libéré, donc 100% responsable ?  </span>
                  </h5>
                    <h6> Plus de libérté dans les décisions </h6>
                    <h6> Partage des Bénéfices </h6>
                </div>
              </div>
          </article>

            <article class="timeline-item alt">
              <div class="timeline-caption">
                <div class="panel arrow arrow-right">
                  <span class="timeline-icon"><i class="fa fa-male time-icon bg-success"></i></span>
                  <span class="timeline-date"> Organisation identique </span>
                  <h5>
                    <span> Mode Drivé par un Responsable  (10 ans d'expérience)</span>
                  </h5>
                  <h6> Nous restons dans ce que nous connaissons</h6>
                  <h6> Responsabilité individuelle plus limitée</h6>
                  <h6> Le Bénéfice finance la  rémunération du Manager </h6>
                </div>
              </div>
          </article>

          <div class="timeline-footer"><a href="#"><i class="fa fa-plus time-icon inline-block bg-default"></i></a></div>
        </div>
      </div>
    </section>


<div class="col-lg-6 control-label">

        <section class="panel">
            <header class="panel-heading">
              <span class="label bg-info pull-right">25%</span>
              Partage des Bénéfices : Modalités
            </header>
            <section class="panel-body">
              <article class="media">
                <div class="pull-left thumb-small">
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x text-success"></i>
                    <i class="fa fa-flag fa-stack-1x text-white"></i>
                  </span>
                </div>
                <div class="media-body">
                  <div class="pull-right media-mini text-center text-muted">
                    <strong class="h4">691 000 euros</strong><br>
                    <small class="label bg-light"></small>
                  </div>
                  <a href="#" class="h4">A l'atteinte du seuil de rentabilité </a>
                  <small class="block">le seuil de rentabilité est le montants de facturation à partir duquel l'entreprise commence a gagner de l'argent. On l'appel aussi "Point mort"</small>
                </div>
              </article>
              <div class="line pull-in"></div>
              <article class="media">
                <div class="pull-left thumb-small">
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x text-danger"></i>
                    <i class="fa fa-file fa-stack-1x text-white"></i>
                  </span>
                </div>
                <div class="media-body">
                  <div class="pull-right media-mini text-center text-muted">
                    <strong class="h4"></strong><br>
                    <small class="label bg-light"></small>
                  </div>
                  <a href="#" class="h4"> Un pourcentage de chaque euros supplémentaire facturé est destinée à l'équipe</a>
                  <small class="block">La premier temps de l'année est destinée à l'atteinte du seuil. le second temps : Enjendrer le maximum de prime.  </small>
                </div>
              </article>

              <div class="line pull-in"></div>
              <article class="media">
                <div class="pull-left thumb-small">
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x text-warning"></i>
                    <i class="fa fa-star fa-stack-1x text-white"></i>
                  </span>
                </div>
                <div class="media-body">
                  <div class="pull-right media-mini text-center text-muted">
                    <strong class="h4">2  </strong><br>
                    <small class="label bg-light">Drivers</small>
                  </div>
                  <a href="#" class="h4 text-success">Drivers : Facturation & Marge </a>
                  <small class="block">2 Drivers simple au quotidien</small>
                </div>
              </article>



              <div class="line pull-in"></div>
              <article class="media">
                <div class="pull-left thumb-small">
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x text-warning"></i>
                    <i class="fa fa-star fa-stack-1x text-white"></i>
                  </span>
                </div>
                <div class="media-body">
                  <div class="pull-right media-mini text-center text-muted">
                    <strong class="h4">2,1  </strong><br>
                    <small class="label bg-light">Mois</small>
                  </div>
                  <a href="#" class="h4 text-success">Exemple : pour une facturation de 820 Keuros en 2016 ? </a>
                  <small class="block">Le système permet a chacun d'obtenir 2,1 mois de salaire en plus</small>
                </div>
              </article>
            </section>
          </section>
</div>


<div class="col-lg-6 control-label">

        <section class="panel">

          <header class="panel-heading">
              <span class="label bg-info pull-right">Exemple</span>
              <%= form_tag("/compagny/6/account/", method: "get") do %>
                <%= label_tag( :q, "Facturation & Marge:") %>
                <%= number_field_tag(:q) %>
                <%= number_field_tag(:marge) %>
                <%= submit_tag("Calcul") %>
                <% end %>
            </header>

            <div class="panel-body">
              <div class="form-horizontal" method="get" data-validate="parsley">
                <div class="form-group" "form-horizontal" >







              <%if @ca != 0 %>
                <h5>Chiffre d'affaires  : <%= number_with_delimiter(@ca, delimiter: " ") %> Euros </h5>
                <h5>Marge réalisée: <%= number_to_percentage(@marge * 100) %> </h5>
                <h5>Seuil de rentabilité : <%= number_with_delimiter(@sr, delimiter: " ") %> Euros </h5>
                <h5>Seuil de rentabilité ajusté : <%= number_with_delimiter(@srajust.round(0), delimiter: " ") %> Euros</h5>
                <%if @prime > 0 %>
                <br>
                  <h4>Prime individuelle : <%= @mois  %> Mois </h4>

                <%end%>
              <%end%>
           </div>
            </div>
          </div>
      </section>
      </div>








        <div class="col-lg-9 control-label">

    <section class="panel">
            <header class="panel-heading">
              <span class="label bg-info pull-right">Focus Strategique</span>
              Pour réuissir, il faut intégrer ceci !
            </header>
            <section class="panel-body">
              <article class="media">
                <div class="pull-left thumb-small">
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x text-success"></i>
                    <i class="fa fa-flag fa-stack-1x text-white"></i>
                  </span>
                </div>
                <div class="media-body">
                  <div class="pull-right media-mini text-center text-muted">
                    <strong class="h4">3 types</strong><br>
                    <small class="label bg-light">C'est simple !</small>
                  </div>
                  <a href="#" class="h4"> Dans le nouveau monde, il faut comprendre les 3 types de métiers </a>
                  <small class="block">C'est d'une évidence a integrer, sans cela nous ne réaliserons pas de performance</small>
                </div>
              </article>
              <div class="line pull-in"></div>
              <article class="media">
                <div class="pull-left thumb-small">
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x text-danger"></i>
                    <i class="fa fa-file fa-stack-1x text-white"></i>
                  </span>
                </div>
                <div class="media-body">
                  <div class="pull-right media-mini text-center text-muted">
                    <strong class="h4">Innovation</strong><br>
                    <small class="label bg-light"></small>
                  </div>
                  <a href="#" class="h4">Apple, Ankama, Production de dessin animée, Agence de Spot Vidéo Hyper Créative </a>  <small class="block"> La stratégie consiste a investir enormement dans le processus créatif et a renouveller perpetuellement la créativité </small>
                </div>
              </article>

              <div class="line pull-in"></div>
              <article class="media">
                <div class="pull-left thumb-small">
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x text-warning"></i>
                    <i class="fa fa-star fa-stack-1x text-white"></i>
                  </span>
                </div>
                <div class="media-body">
                  <div class="pull-right media-mini text-center text-muted">
                    <strong class="h4">Infrastructure </strong><br>
                    <small class="label bg-light"></small>
                  </div>
                  <a href="#" class="h4 text-success">Amazon, Sarbacane, Production de film et exploitation des droits</a>
                  <small class="block">La strategie consiste a investir enormement dans les ingénieurs qui créer l'infrastructure, puis de vendre un maximum de fois l'infrastructure</small>
                </div>
              </article>



              <div class="line pull-in"></div>
              <article class="media">
                <div class="pull-left thumb-small">
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x text-warning"></i>
                    <i class="fa fa-star fa-stack-1x text-white"></i>
                  </span>
                </div>
                <div class="media-body">
                  <div class="pull-right media-mini text-center text-muted">
                    <strong class="h4">Client  </strong><br>
                    <small class="label bg-light"></small>
                  </div>
                  <a href="#" class="h4 text-success">Publicis, VEV, Vision3 </a>
                  <small class="block">La strategie consiste a investir enormement pour l'accompagnement de son client et prende un maximum de sa tirelire</small>
                </div>
              </article>

                  <div class="line pull-in"></div>
              <article class="media">
                <div class="pull-left thumb-small">
                  <span class="fa-stack fa-lg">

                  </span>
                </div>
                <div class="media-body">
                  <div class="pull-right media-mini text-center text-muted">
                    <strong class="h4">Simple Mais Attention !  </strong><br>
                    <small class="label bg-light"></small>
                  </div>
                  <a href="#" class="h4 text-success"> Il faut Tracker les intérêts divergeants </a>
                  <small class="block"> Les 3 Business ne sont pas incompabible mais faut choisir lequel prime quand la situation le demande  </small>
                </div>
              </article>



            </section>
          </section>
</div>










    <!-- /.main -->
    <!-- .sidebar -->

  </section>

  <script src="js/jquery.min.js"></script>
  <!-- Bootstrap -->
  <script src="js/bootstrap.js"></script>

  <!-- Sparkline Chart -->
  <script src="js/charts/sparkline/jquery.sparkline.min.js"></script>
  <!-- Easy Pie Chart -->
  <script src="js/charts/easypiechart/jquery.easy-pie-chart.js"></script>

  <!-- app -->
  <script src="js/app.js"></script>
  <script src="js/app.plugin.js"></script>
  <script src="js/app.data.js"></script>
</body>
</html>
