
<div id="organization">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center"><h2>Organization n° <%= @organization.id %> <%= @organization.name.capitalize%>  </h2></div>
    </div>

    <div class="row form">
      <div class="col-sm-12">

    <div class="col-sm-12 col-md-6 col-centered col-fixed">

     <br />
     <ul>

      <ul>Active: <%= @organization.active_flag %></ul>

      <ul> <%= link_to compagny_account_organizations_path(params[:compagny_id]) do %>
        <button type="button" class="btn btn-primary">Back</button>
        <% end %></ul>
      </ul>
</div>
</div>
</div>
</div>


<br>

<h5> List of <%= @persons.count %> Persons  </h5>
<p>------------------------------------------------</p>


      <table>
        <tr>
          <th>first_name</th>
          <th>last_name</th>
          <th>email</th>
          <th>tel</th>
          <th>job</th>
        </tr>

        <%@persons.each do |person| %>
        <tr>
          <% if person.first_name != nil  %>
            <td><%= person.first_name %> </td>
          <%end%>
          <% if person.last_name != nil  %>
            <td><%=person.last_name%> </td>
          <%end%>
          <% if person.email!= nil  %>
            <td><%= person.email %></td>
          <%end%>
          <% if person.phone!= nil  %>
            <td><%= person.phone%></td>
          <%end%>
          <% if person.job!= nil  %>
            <td><%= person.job%></td>
          <%end%>
         </tr>
        <% end %>
      </table>


