<h1><%= @persons.count %> Persons</h1>
  <div class="panel-body">
    <div class="col-sm-4 m-b-mini">
      <div class="btn-group" data-toggle="buttons">
        <label class="btn btn-sm btn-white active">
          <input type="radio" name="options" id="option1"> A
        </label>

        <label class="btn btn-sm btn-white">
          <input type="radio" name="options" id="option2"> B
        </label>

        <label class="btn btn-sm btn-white">
          <input type="radio" name="options" id="option2"> C
        </label>

      </div>

    </div>
  </div>


  <div class="table-responsive">
    <table class="table table-striped b-t text-small">
    <thead>
      <tr>
        <th width="20"><input type="checkbox"></th>
        <th class="th-sortable" data-toggle="class">Organization
          <span class="th-sort">
            <i class="fa fa-sort-down text"></i>
            <i class="fa fa-sort-up text-active"></i>
            <i class="fa fa-sort"></i>
          </span>
        </th>

        <th class="th-sortable" data-toggle="class"> Name
          <span class="th-sort">
            <i class="fa fa-sort-down text"></i>
            <i class="fa fa-sort-up text-active"></i>
            <i class="fa fa-sort"></i>
          </span>
          </th>


        <th class="th-sortable" data-toggle="class">Email
          <span class="th-sort">
            <i class="fa fa-sort-down text"></i>
            <i class="fa fa-sort-up text-active"></i>
            <i class="fa fa-sort"></i>
          </span>
          </th>

        <th class="th-sortable" data-toggle="class">Phone
          <span class="th-sort">
            <i class="fa fa-sort-down text"></i>
            <i class="fa fa-sort-up text-active"></i>
            <i class="fa fa-sort"></i>
          </span>
          </th>

        <th class="th-sortable" data-toggle="class">Job
          <span class="th-sort">
            <i class="fa fa-sort-down text"></i>
            <i class="fa fa-sort-up text-active"></i>
            <i class="fa fa-sort"></i>
          </span>
          </th>


      </tr>
    </thead>
    <tbody>
      <tr>
         <% @persons.each do |person| %>
            <td><input type="checkbox" name="post[]" value="2"></td>
              <% if person.organization_id != nil  %>

                <td><%= link_to compagny_account_organization_path(params[:compagny_id], person.organization_id) do %>
                  <%= @organizations.where(:id=>person.organization_id).first.name %></td>
                  <%end%>
              <% else %>
                <td></td>
              <%end%>
              <% if person.name != nil  %>
                <td><%= person.name %> </td>
              <% else %>
              <%end%>
                <td></td>

              <%if person.email != nil%>
                <td><%= person.email %></td>
             <% else %>
                <td></td>
              <%end%>
              <% if person.phone != nil %>
                <td><%= person.phone  %></td>
               <% else %>
                <td></td>
              <%end%>
              <% if person.job != nil %>
                <td><%= person.job  %></td>
              <% else %>
                <td></td>
              <%end%>

            </tr>
          <%end%>
    </tbody>
    </table>
    </div>
  </div>


