<h1>Edit Flow n° <%=@flow.code%></h1>


<%= simple_form_for @flow, url:  compagny_account_flow_path(params[:compagny_id].to_i, @flow) do |f| %>

  <%= f.input :level, collection: @levels, prompt: "Select your stage", include_blank: false%>

  <%= f.input :name %>
  <%= f.input :name, label: 'Title' %>
  <%= f.input :description %>
  <%= f.input :deliverable, label: 'Nb of deliverable' %>
  <%= f.input :date_sale %>
  <%= f.button :submit %>
  <%= f.button :button do %>
    <%link_to "back", compagny_account_flows_path(params[:compagny_id].to_i, @flow) %>
  <% end %>
<% end %>

<br>
<br>
