  <section id="content">
    <section class="main padder">
      <div class="clearfix">
        <h4>Flow n° <b><%= @flow.code %></b> for <%= ((Compagny.find(compagny_id = @flow.compagny_id)).name).upcase  %></h4>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <section class="panel">
            <div class="panel-body">
              <div class="form-horizontal" method="get" data-validate="parsley">
                <div class="form-group" "form-horizontal" >

            <%= simple_form_for @flow, url: compagny_account_flows_path do |f|  %>

                <div class="form-group">
                  <label class="col-lg-3 control-label">Level</label>
                  <div class="col-lg-4">
                  <%= f.input_field  :level, collection: @levels, include_blank: false, class: 'btn btn-sm btn-white dropdown-toggle'  %>
                </div>
                </div>

                <div class="form-group">
                  <label class="col-lg-3 control-label">Title</label>
                  <div class="col-lg-8">
                    <%= f.input_field :name, class: 'form-control'  %>
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-lg-3 control-label">Description</label>
                  <div class="col-lg-8">
                    <%= f.input_field :description, class: 'form-control'%>
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-lg-3 control-label">Deliverable</label>
                  <div class="col-lg-8">
                    <%= f.input_field :deliverable, label: 'Nb of deliverable', class:  'input-sm spinner-input form-control'%>
                  </div>
                </div>

                <div class="form-group" >
                  <label class="col-lg-3 control-label">Date Sale</label>
                  <div class="col-lg-6 ">

                    <%= f.input_field :date_sale    %>

                  </div>
                </div>

                <div class="form-group">
                  <div class="col-lg-9 col-lg-offset-3">
                   <%= f.button :submit,  class: 'btn btn-primary' %>
                  </div>
                </div>
              </div>
            </div>
            <%end%>
          </section>


  <!-- footer -->
  <footer id="footer">

  </footer>
  </body>
</html>
