  <section id="content">
    <section class="main padder">
      <div class="clearfix">
        <h4>Flow n° <b><%= @flow.code %></b> for <%= ((Compagny.find(compagny_id = @flow.compagny_id)).name).upcase  %></h4>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <section class="panel">
            <div class="panel-body">
              <div class="form-horizontal" method="get" data-validate="parsley">
                <div class="form-group" "form-horizontal" >
                <div class="form-group">
                  <label class="col-lg-3 control-label">Level</label>
                  <div class="col-lg-4">
                  <%= @flow.level.name %>
                </div>
                </div>
                <div class="form-group">
                  <label class="col-lg-3 control-label">Title</label>
                  <div class="col-lg-8">
                    <%= @flow.name %>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-lg-3 control-label">Description</label>
                  <div class="col-lg-8">
                    <%= @flow.description %>
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-lg-3 control-label">Deliverable</label>
                  <div class="col-lg-8">
                    <%= @flow.deliverable %>
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-lg-3 control-label">Date Sale</label>
                  <div class="col-lg-9">
                    <%= @flow.date_sale.strftime('%d.%m.%Y')  %>

                  </div>
                </div>

                <div class="form-group">
                  <div class="col-lg-9 col-lg-offset-3">
                  <%= link_to compagny_account_flows_path(params[:compagny_id]) do %>
                   <button type="button" class="btn btn-primary">Back</button>
                  <% end %>

                  </div>
                </div>


              </div>
            </div>


          </section>

  <!-- footer -->
  <footer id="footer">

  </footer>
  </body>
</html>
